{% extends "base-home.html" %} {% block content %}
{% load static %}
  <main style="margin-top: 134px;">
    <section>
      <div class="texts" style="width: 627px;">
        <h1 class="title" style="margin-top: 31px;">Como denunciar o tráfico ?</h1>
        <p class="content" style="margin-top: 51px; font-size: 24px;">Caso você presencie maus-tratos a animais de
          quaisquer espécies, sejam domésticos, domesticados, silvestres ou exóticos – como abandono, envenenamento,
          presos constantemente em correntes ou cordas muito curtas, manutenção em lugar anti-higiênico, mutilação,
          presos em espaço incompatível ao porte do animal ou em local sem iluminação e ventilação, utilização em shows
          que possam lhes causar lesão, pânico ou estresse, agressão física, exposição a esforço excessivo e animais
          debilitados (tração), rinhas, etc. –, vá à delegacia de polícia mais próxima para lavrar o Boletim de
          Ocorrência (BO), ou compareça à Promotoria de Justiça do Meio Ambiente.
        </p>
      </div>
      <div class="retangle">
        <img src="{% static 'assets/image 2.png' %}" style="position: absolute;
        top: 580px;
        right: 60px;">
      </div>
    </section>

    <section style="margin-top: 148px;">
      <div class="retangle">
        <img src="{% static 'assets/image 3 (1).png' %}" style="transform: translateX(180px) translateY(60px);">
      </div>
      <div class="texts" style="width: 567px; ">
        <h1 class="title" style="margin-top: 39px;">Como entrar em contato ?</h1>
        <p class="content" style="margin-top: 41px; font-size: 24px;">
          IBAMA
          </br>
          </br>
          As denúncias podem ser feitas pelo telefone 0800 61 8080 (gratuitamente) ou pelo email para
          linhaverde.sede@ibama.gov.br. O IBAMA (Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais
          Renováveis) as encaminhará para a delegacia mais próxima do local da agressão.
        </p>
      </div>
    </section>

    <section style="margin-top: 158px;">
      <div class="texts" style="width: 668px;">
        <h1 class="title">Outras formas de contato </h1>
      </div>
      <div class="retangle">
        <img src="{% static 'assets/Rectangle 12.png' %}" style="transform: translateY(-70px);
 position: absolute; right: 170px;">
      </div>
    </section>
  </main>
{% endblock content %}