{% extends "base-home.html" %} {% block content %} {% load static %}

<main style="margin-top: 134px">
  <section>
    <div class="texts" style="width: 627px">
      <h1 class="title" style="margin-top: 31px">“Terra dos papagaios”</h1>
      <p class="content" style="margin-top: 51px; font-size: 24px">
        “Terra dos Papagaios”, esse foi o nome dado pelos europeus para o Brasil
        por três anos, devido às belíssimas aves que faziam sucesso pela Europa
        já no início do século XVI. A caça aos animais ia crescendo cada vez
        mais, sendo que as penas eram bastante cobiçadas para enfeitar roupas e
        davam uma idéia de status, como é o caso de um manto de D. Pedro 2° que
        hoje está guardado no Museu do Império, em Petrópolis, todo coberto de
        penas de tucano.
      </p>
    </div>
    <div class="retangle">
      <img src="{% static 'assets/Rectangle 3 (1).png' %}" />
    </div>
  </section>

  <section style="margin-top: 148px">
    <div class="retangle">
      <img
        src="{% static 'assets/image 4.png' %}"
        style="transform: translateX(20px) translateY(240px)"
      />
    </div>
    <div class="texts" style="width: 567px">
      <h1 class="title" style="margin-top: 31px">
        O caso da naja encontrada no Brasil
      </h1>
      <p class="content" style="margin-top: 47px; font-size: 24px">
        Um estudante de Medicina Veterinária do Distrito Federal, Pedro Henrique
        Santos Krambeck Lehmkul, foi picado por uma cobra naja que ele mantinha
        em cativeiro em sua casa. O veneno da cobra o deixou em coma e foi
        necessário o uso de uma dose única de soro antiofídico para salvá-lo.
        Pedro Henrique foi indiciado por tráfico de animais exóticos e
        silvestres, e outras seis pessoas também são investigadas pelo caso.
      </p>
    </div>
  </section>

  <section style="margin-top: 158px">
    <div class="texts" style="width: 668px">
      <h1 class="title" style="margin-top: 68px">
        Como os traficantes driblam a fiscalização
      </h1>
      <p class="content" style="margin-top: 33px; font-size: 24px">
        No contrabando, os contrabandistas agem em áreas onde é difícil
        encontrar fiscais do IBAMA, como por exemplo quando a fronteira entre
        dois países é bastante montanhosa, deserta ou em florestas densas
        (RENCTAS 2001). Os animais são transportados em condições precárias em
        malas com fundo falso, caixas de papelão, pacotes de jornais, dentro dos
        compartimentos de carga de ônibus, caminhões, porta-malas de automóveis
        ou até mesmo na própria roupa do traficante (Rocha 1995; RENCTAS 2001)
      </p>
    </div>
    <div class="retangle">
      <img
        src="{% static 'assets/image 5.png' %}"
        style="transform: translateY(50px); position: absolute; right: 170px"
      />
    </div>
  </section>
</main>

{% endblock content %}
