{% extends "base-home.html" %} {% block content %}
{% load static %}
  <main>
    <section>
      <div class="texts" style="width: 644px;">
        <h1 class="title">Quais são os impactos causados na fauna brasileira ?</h1>
        <p class="content" style="margin-top: 41px; font-size: 24px;">O tráfico de animais é uma prática ilegal que
          consiste em retirar
          ocasiona desequilíbrio nos ecossistemas que sofrem danos diretos e indiretos devido as mudanças que impactam
          em cadeias alimentares, evolução e adaptação dessas espécies e em espécies que interagem com elas.
          </br>
          </br>

          Conforme o professor do curso de Medicina Veterinária do Centro Universitário Doutor Leão Sampaio (Unileão)
          Rener Alcântara, uma das principais consequências dessa prática é a colaboração para a redução do número de
          animais na natureza e, consequentemente, a aceleração da extinção de diversas espécies da fauna
        </p>
      </div>
      <img src="{% static 'assets/Rectangle 3.png' %}" width="518px" height="655px">
    </section>

    <section style="margin-top: 148px;">
      <div class="retangle">
        <img src="{% static 'assets/Tipos (3) 1.png' %}" style="transform: translateX(180px) translateY(80px);">
      </div>
      <div class="texts" style="width: 557px;">
        <h1 class="title" style="margin-top: 36px; font-size: 30px;">Quais animais mais são atingidos com essa prática
          ilegal ?</h1>
        <p class="content" style="margin-top: 28px; font-size: 24px;">
          Os animais que mais são contrabandeados são as avez em especial a arara-azul. Os animais em extinção são os
          principais alvos dos caçadores, pois dependendo da espécie pode chegar ao valor de venda de até R$30.000,00.
          </br>
          Os animais silvestres mais procurados pelo tráfico são aves, primatas e cobras. Veja a seguir uma lista com as
          principais vítimas do tráfico de animais:
        <ul style="font-size: 24px; margin-left: 24px;">

          <li>Arara-azul</li>
          <li>Arara-azul-de-lear</li>
          <li>Arara-vermelha</li>
          <li>Papagaio-da-cara-roxa</li>
          <li>Jaguatirica</li>
          <li>Mico-leão-dourado</li>
          <li>Tucano</li>
        </ul>
        </p>
      </div>
    </section>

    <section style="margin-top: 142px;">
      <div class="texts" style="width: 614px;">
        <h1 class="title" style="margin-top: 68px;">Outras consequências </h1>
        <p class="content" style="margin-top: 76px;">A bióloga Juliana Machado Ferreira, diretora geral da Freeland
          Conforme o professor do curso de Medicina Veterinária do Centro Universitário Doutor Leão Sampaio (Unileão)
          Rener Alcântara, “O tráfico corrobora com a perda da herança genética, visto que o número reduzido dos animais
          acaba por favorecer o cruzamento entre parentes. Como todos os animais silvestres também desempenham funções
          ecológicas como, por exemplo, a disseminação de sementes, o seu tráfico causa danos para essas interações
          ecológicas”, explicou.
          </br>
          </br>
          O prof. Rener alerta, também, para o fato de que quando esses animais são retirados do ambiente natural deles
          e vendidos sem nenhum controle sanitário, aumenta o risco de disseminação de zoonoses, que são doenças que
          podem ser transmitidas aos seres humanos, como a raiva e a leptospirose, por exemplo.
        </p>
      </div>
      <div class="retangle">
        <img src="{% static 'assets/image 1.png' %}" style="transform: translateX(-100px) translateY(70px);">
      </div>
    </section>
  </main>
{% endblock content %}