{% extends "base-home.html" %} {% block content %}

<main>
  <section style="width: 90%">
    <div class="content" style="width: 100%">
      <div>
        <h1 class="titulo-tabela" style="margin-left: 33px">Espécies</h1>
        <form
          method="GET"
          action=""
          style="
            display: flex;
            gap: 16px;
            justify-content: center;
            aling-items: center;
          "
        >
          <input
            type="text"
            name="search"
            placeholder="Pesquise"
            value="{{ request.GET.search }}"
          />
          <button type="submit" style="margin-top: 0px">Buscar</button>
        </form>
      </div>

      <div style="display: flex; gap: 26px; margin-top: 25px">
        <div class="filters" style="color: #fff">
          <h1 style="font-size: 24px">Filtros</h1>
          <p style="font-size: 16px; margin-top: 16px; color: #9cd9b8">
            Por região
          </p>

          <ul style="font-size: 12px; margin: 18px">
            {% for code, name in habitat_choices %}
            <li><a href="?habitat={{ code }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Imagem</th>
              <th>Nome</th>
              <th>Região</th>
            </tr>
          </thead>

          {% for especie in page_obj %}
          <tbody>
            <tr>
              <td>
                {% if especie.imagem %}
                <img
                  src="{{ especie.imagem.url }}"
                  width="80px"
                  height="80px"
                />
                {% else %}
                <p>Sem Imagem</p>
                {% endif %}
              </td>

              <td>
                <strong>{{especie.nome_comum}}</strong>
              </td>
              <td>{{especie.habitat}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>

      <div class="pagination" style="text-align: center; margin-top: 20px">
        <span
          class="step-links"
          style="
            display: inline-block;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
          "
        >
          {% if page_obj.has_previous %}
          <a
            href="?page=1"
            style="color: #007bff; text-decoration: none; margin-right: 10px"
            >&laquo; primeira</a
          >
          <a
            href="?page={{ page_obj.previous_page_number }}"
            style="color: #007bff; text-decoration: none; margin-right: 10px"
            >anterior</a
          >
          {% endif %}

          <span
            class="current"
            style="color: #333; font-weight: bold; margin-right: 10px"
          >
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a
            href="?page={{ page_obj.next_page_number }}"
            style="color: #007bff; text-decoration: none; margin-right: 10px"
            >próxima</a
          >
          <a
            href="?page={{ page_obj.paginator.num_pages }}"
            style="color: #007bff; text-decoration: none"
            >última &raquo;</a
          >
          {% endif %}
        </span>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
