{% extends "base-home.html" %} {% block content %} {% load static %}
<main style="margin-top: 134px">
  <section>
    <div class="texts" style="width: 627px">
      <h1 class="title" style="margin-top: 31px">Campanhas educativas</h1>
      <p class="content" style="font-size: 24px">
        As campanhas de educação ambiental realizadas por entidades como o IBAMA
        e ONGs visam conscientizar a sociedade sobre a importância da
        preservação da fauna, mas têm tido pouco impacto entre a classe social
        com baixo poder aquisitivo no Brasil. Uma abordagem sugerida para mudar
        esse cenário é oferecer alternativas de trabalho para as comunidades
        envolvidas. A implementação de programas educacionais direcionados aos
        alunos do ensino fundamental pode contribuir para modificar essa
        situação. Atualmente, a educação ambiental nas escolas é limitada, em
        parte devido à falta de pesquisa, à desarticulação dos órgãos
        governamentais e à falta de preparo dos professores. Essas campanhas
        educativas devem alertar para as conseqüências do meio ambiente e a
        ilegalidade da compra e transporte dos animais.
      </p>
    </div>
    <div class="retangle">
      <img
        src="{% static 'assets/image 15.png' %}"
        style="position: absolute; top: 440px; right: 120px"
      />
    </div>
  </section>

  <section style="margin-top: 148px">
    <div class="retangle">
      <img
        src="{% static 'assets/image 11.png' %}"
        style="transform: translateX(41px) translateY(54px)"
      />
    </div>
    <div class="texts" style="width: 567px">
      <h1 class="title" style="margin-top: 54px; font-size: 30px">
        Conscientização para a população
      </h1>
      <p class="content" style="margin-top: 47px; font-size: 24px">
        Falta uma educação ambiental na população. Os fornecedores, que são
        pessoas mais humildes, na maioria das vezes, não têm acesso à educação,
        ficando desinformados a respeito do impacto ao meio ambiente que podem
        causar na falta de uma espécie de animal e têm em mente de que os
        recursos na natureza são inesgotáveis (Rocha 1995). Hoje em dia quase
        não se vê propagandas na televisão e rádio para a conscientização da
        população em relação ao tráfico da fauna silvestre.
      </p>
    </div>
  </section>

  <section style="margin-top: 158px">
    <div class="texts" style="width: 500px">
      <h1 class="title" style="margin-top: 68px">Outras soluções</h1>
      <p class="content" style="margin-top: 46px; font-size: 24px">
        Algumas soluções dadas pela RENCTAS (2001): aumento do contingente e
        capacitação dos agentes; intercâmbio entre os países (cooperação
        internacional); maior fiscalização nos criadouros particulares,
        científicos e conservacionistas; marcação individual dos animais através
        de pequenos anéis e microchips; e controle das instituições sobre os
        materiais de coleta (laboratórios).
      </p>
    </div>
    <div class="retangle">
      <img
        src="{% static 'assets/image 12.png' %}"
        style="transform: translateY(50px); position: absolute; right: 170px"
      />
    </div>
  </section>

  <section>
    <div class="send-message">
      <p>Fale conosco, envie sua mensagem..</p>
      <textarea
        name=""
        id=""
        placeholder="(Máximo de 250 caracteres)"
      ></textarea>
      <button>Enviar</button>
    </div>
  </section>
</main>
{% endblock content %}
