{% extends "base-home.html" %} {% block content %}
{% load static %}
  <main style="margin-top: 134px;">
    <section>
      <div class="texts" style="width: 627px;">
        <h1 class="title" style="margin-top: 31px;">Como o tráfico começou no Brasil ?</h1>
        <p class="content" style="margin-top: 51px; font-size: 24px;">O tráfico de animais silvestres no Brasil teve
          início com os portugueses, no século XVI. Ao chegarem no País, tão admirados ficaram os portugueses com a
          quantidade de araras, papagaios e periquitos existentes - o Brasil foi denominado durante muito tempo de
          “Terra dos Papagaios” - que começaram a enviá-los para Portugal.
          </br>
          Essa atividade lucrativa se consolidou no século XIX e, atualmente, o país é um dos principais fornecedores de
          animais silvestres para cerca de vinte países, incluindo Estados Unidos, Alemanha e Japão. Anualmente, cerca
          de 38 milhões de animais são retirados das matas brasileiras, sendo que 90% deles acabam morrendo por
          maus-tratos e condições precárias durante a captura, transporte e comercialização.
        </p>
      </div>
      <div class="retangle">
        <img src="{% static 'assets/image 6.png' %}" style="position: absolute;
        top: 380px;
        right: 60px;">
      </div>
    </section>

    <section style="margin-top: 248px;">
      <div class="retangle">
        <img src="{% static 'assets/image 7.png' %}" style="transform: translateX(100px) translateY(-60px);">
      </div>
      <div class="texts" style="width: 567px; ">
        <h1 class="title" style="margin-top: 31px;">Primeiro registro de animais capturados?</h1>
        <p class="content" style="margin-top: 47px; font-size: 24px;">
          Os primeiros registros de animais silvestres brasileiros enviados à outros países são da época do
          descobrimento do Brasil com a chegada dos portugueses a este país, como se pode ver no seguinte trecho da
          Carta de Pero Vaz de Caminha a El Rei D. Manuel do dia 1° de maio de 1500: “Resgataram lá por cascavéis e
          outras coisinhas de pouco valor, que levavam, papagaios vermelhos, muito grandes e formosos, e dois verdes
          pequeninos, e carapuças de penas verdes (...) Vossa Alteza todas estas coisas verá, porque o Capitão vo-las há
          de mandar, segundo ele disse.”
        </p>
      </div>
    </section>

    <section style="margin-top: 158px;">
      <div class="texts" style="width: 668px;">
        <h1 class="title" style="margin-top: 68px;">Instituto Brasileiro de Desenvolvimento Florestal</h1>
        <p class="content" style="margin-top: 47px; font-size: 24px;">
          A caça à fauna silvestre brasileira passou a ser ilegal no ano de 1967. Foi criado o Instituto Brasileiro de
          Desenvolvimento Florestal (IBDF), e a Lei Federal n° 5.197 – Lei de Proteção à Fauna, que dizia que “animais
          de quaisquer espécies, em qualquer fase do seu desenvolvimento e que vivem naturalmente fora do cativeiro,
          constituindo a fauna silvestre, bem como seus ninhos, abrigos e criadouros naturais são propriedades do
          Estado, sendo proibida a sua utilização, perseguição, destruição, caça ou apanha”.
        </p>
      </div>
      <div class="retangle">
        <img src="{% static 'assets/image 8.png'%}" style="transform: translateY(170px);
 position: absolute; right: 170px;">
      </div>
    </section>
  </main>

  <footer style="margin-top: 325px;">
    <ul>
      <li class="list_links_footer">
        <a class="links_footer" href="#">Página inicial</a>
        <a class="links_footer" href="#">Contato</a>
        <a class="links_footer" href="#">Home</a>
      </li>
    </ul>
  </footer>
{% endblock content %}