{% extends "base-home.html" %} {% block content %}
<main>
    <section>
      <div class="texts" style="width: 734px;">
        <h1 class="title">Impactos do tráfico de animais silvestres na biodiversidade
          brasileira</h1>
        <h3 class="subtitle" style="margin-top: 73px;">O que é o tráfico de animais?</h3>
        <p class="content" style="margin-top: 41px;">O tráfico de animais é uma prática ilegal que consiste em retirar
          os animais de seu habitat natural e
          vendê-los clandestinamente a laboratórios de pesquisas, pet shops e até para colecionadores.
          </br>
          </br>
          Os animais ao serem retirados de seu habitat são transportados de forma que não comem, não bebem o que provoca
          a morte da maioria desses, muitos morrem asfixiados. Estima-se que nove entre dez animais contrabandeados
          morrem antes de chegar ao seu destino por causa das más condições O que lhes são impostas e ainda por
          consequência de qualquer forma de lesão e mutilação feita pelos próprios traficantes para que não produzam
          sons e/ou fiquem paralisados por causa da dor.
        </p>
      </div>
      <div class="retangle">
        <img src="static/assets/Group 3.png" style="position: absolute;
        top: 240px;
        right: 50px;">
      </div>
    </section>  

    <section style="margin-top: 137px;">
      <div class="retangle">
        <img src="static/assets/image 3.png" style="transform: translateX(180px) translateY(180px);">
      </div>
      <div class="texts" style="width: 566px;">
        <h1 class="title" style="margin-top: 39px;">Tipos De Tráficos de Animais</h1>
        <p class="content" style="margin-top: 41px;">
          </br>
          </br>
          - biopirataria ou tráfico para fins científicos, como a realização de pesquisas;
          </br>
          </br>
          - venda em pet shops: tráfico movimentando sob demanda pela venda ilegal de animais silvestres;-
          colecionadores particulares;
          </br>
          </br>
          - produção de subprodutos: partes dos animais são utilizadas para produção de adornos e artesanatos - penas,
          couro, pele, presas, entre outras são comercializadas ilegalmente.
        </p>
      </div>
    </section>

    <section style="margin-top: 158px;">
      <div class="texts" style="width: 668px;">
        <h1 class="title">Afinal que animais são esses?</h1>
        <p class="content" style="margin-top: 76px;">A bióloga Juliana Machado Ferreira, diretora geral da Freeland
          Brasil, explica as diferenças entre animais silvestres nativos, exóticos, invasores e animais domésticos.
          </br>
          </br>
          Silvestre nativo vs. exótico "É o que tem área de ocorrência dentro de determinada fronteira. É o que tem área
          de ocorrência natural no território brasileiro ou passa algum momento do seu ciclo de vida por aqui. Portanto,
          os exóticos são os que não são nativos?
          </br>
          </br>
          Invasor "É o que se tira da área natural de ocorrência dele e se coloca em outra. Por exemplo, o galo da
          campina da caatinga foi trazido para o Sudeste para ser mantido em cativeiro, mas escapou e começou a se
          reproduzir. Assim, acabou se estabelecendo em uma região que não era a dele. A espécie invasora é aquela que
          começa a colonizar fora da área de ocorrência natural. Dentro disso, temos os invasores nocivos, que passam a
          competir com o animal nativo por recursos, que não tem predadores naquela região nova, por exemplo."
          </br>
          </br>
          Doméstico "São espécies que foram selecionadas de uma forma artificial pelos seres humanos ao longo de muitas
          gerações. Esses animais sofreram alteração de aparência, fenotípica e na genética. Portanto, eles não têm mais
          uma função ecológica na natureza, os silvestres têm."
        </p>
      </div>
      <div class="retangle">
        <img src="static/assets/Group 4.png" style="transform: translateX(-80px);">
      </div>
    </section>
  </main>
{% endblock %}